@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Science Gothic', sans-serif;
}

ul,
li,
ol {
	list-style: none;
}
